@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow:700');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Pragati Narrow', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

form > button {
    width: 100px;
}

textarea {
    height: 100px;
    width: 200px
}